@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html, body, #__next {
  height: 100%;
}

.app-content {
  min-height: 80%;
}

.logo {
  font-family: 'Montserrat', sans-serif;
}