@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

html, body, #__next {
  height: 100%;
}

.app-main {
  min-height: 80%;
}

.blog-post-content a {
  word-wrap: break-word;
}
